{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--twocol-section',
  ]
%}
{% if content %}

  <div{{ attributes.addClass(classes) }} {% if attributes.background_image_url %}style="background-image: url({{ attributes.background_image_url }})"{% endif %}>

    <div class="layout__container">

      {% if content.heading %}
        <h2 class="layout__heading">{{ content.heading }}</h2>
      {% endif %}

      <div class="layout__content">

        {% if content.first %}
          <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
            {{ content.first }}
          </div>
        {% endif %}

        {% if content.second %}
          <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
            {{ content.second }}
          </div>
        {% endif %}

      </div>

    </div>

  </div>
  
{% endif %}
