{#
/**
 * @file
 * A generic template for sections. This will be extend by each of our layout
 * templates.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set classes = [] %}

{% if settings.background_video_url %}
  {% set classes = classes|merge(['layout--video']) %}
{% endif %}

{% if settings.background_image_url %}
  {% set classes = classes|merge(['layout--image']) %}
{% endif %}

{% if content %}
  {% if settings.parallax %}
    {{ attach_library('duo_layouts/parallax') }}
  {% endif %}

  <div{{ attributes.addClass(classes) }} {% if settings.background_image_url %}style="background-image: url({{ settings.background_image_url.0 }})"{% endif %}>

    {% if settings.background_video_url %}
      <div class="layout__video{% if settings.parallax %} parallax{% endif %}">
        <video preload="auto" autoplay loop muted playsinline>
          <source src="{{ settings.background_video_url.0 }}" />
        </video>
      </div>
    {% endif %}

    {% if settings.background_image_url %}
      <div class="layout__image{% if settings.parallax %} parallax{% endif %}">
        <img src="{{ settings.background_image_url.0 }}" alt="" />
      </div>
    {% endif %}

    <div class="layout__container">

      {% if content.heading %}
        <h2 class="layout__heading">{{ content.heading }}</h2>
      {% endif %}

      {% block content %}
        {# Render content here #}
      {% endblock %}

    </div>

  </div>
  
{% endif %}
